[user]
	name = Kevin Reed
	email = 
[push]
	default = simple
[core]
	autocrlf = true
[credential]
[difftool "sourcetree"]
	cmd = 'C:/Program Files/TortoiseSVN/bin/TortoiseMerge.exe' \"$LOCAL\" \"$REMOTE\"
[alias]
	ec = config --global -e
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	la = "!git config -l | grep alias | cut -c 7-"
	ci = commit
	cm = commit -m
	co = checkout
	cob = checkout -b
	st = status
	dui = commit -m 'Update deployment project to include latest grunt built files'
	up = "!f() { git fetch && git checkout ${1-dev} && git pull ; }; f"
	cl = "!f() { git co ${1-dev} && git branch --merged ${1-dev} | egrep -v 'dev|release|master' | xargs -r git branch -d ; }; f"
	done = "!f() { git up ${1-dev} && git cl ${1-dev} ; }; f"
	release = "!f() { git up dev && git up release && git merge dev ; }; f"
	tag-major = "!f() { git describe | awk -F'[.-]' '{print $1+1 \".\" 0 \".\" 0}' | xargs -r git tag -a -m \"\" ; }; f"
	tag-minor = "!f() { git describe | awk -F'[.-]' '{print $1 \".\" $2+1 \".\" 0}' | xargs -r git tag -a -m \"\" ; }; f"
	tag-bug = "!f() { git describe | awk -F'[.-]' '{print $1 \".\" $2 \".\" $3+1}' | xargs -r git tag -a -m \"\" ; }; f"
[credential]
	helper = !'C:\\Users\\kev23527\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
